.editor_wrap{
    max-width:800px;
    margin:auto;
}
.markdown_editor{
    padding:80px 50px 0 50px;

}
.toolbar_wrap{
    position:relative;
    top:-30px;
}
#custom-toolbar::after {
    display: none;
}