@using Blog.Core.Categorys.Model
@inject IRepository<Category> categoryRep
@{
    var list = categoryRep.GetAll().Take(5).ToList();
}
<section class="sidebar_item category">
    <div class="sidebar_item_title">
        <p>CATEGORIES</p>
    </div>
    <div class="sidebar_item_content">
        <ul class="link_list">
            @foreach (var item in list)
            {
                <li><a href="@Url.Page("/Category",new { name=item.Name})">@item.Name</a></li>
            }
        </ul>
    </div>
</section>