@page
@model Articles.IndexModel
@{

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-12">
                    <div id="toolbar">
                        <div class="btn-group" role="group">
                            <a href="@Url.Page("/Articles/Index", "NewArticle",new { articleType = "Markdown" })" class="btn btn-primary J_menuItem">新建</a>
                        </div>
                    </div>
                    <table id="article_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="modal inmodal" id="modal_edit_tags"  tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span >&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">编辑标签</h4>

                </div>
                <div class="modal-body">
                    <div class="row taglist">
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <input placeholder="添加标签 按回车添加" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn_save">保存</button>
                </div>
            </div>
        </div>
    </div>*@

@section Styles{
    <link href="~/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
    <link href="~/css/article/index.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/js/article/index.js"></script>
}