@page "{articleId}"

@model EditModel
@{
}
<div class="editor_wrap markdown_editor">
    <div class="toolbar_wrap">
        <div id="custom-toolbar" class="pen-menu pen-menu" style="display: block; top: 20px; left: 10px;">
            <i class="pen-icon icon-insertimage" data-action="insertimage"></i>
            <i class="pen-icon icon-blockquote" data-action="blockquote"></i>
            <i class="pen-icon icon-h2" data-action="h2"></i>
            <i class="pen-icon icon-h3" data-action="h3"></i>
            <i class="pen-icon icon-p active" data-action="p"></i>
            <i class="pen-icon icon-code" data-action="code"></i>
            <i class="pen-icon icon-insertorderedlist" data-action="insertorderedlist"></i>
            <i class="pen-icon icon-insertunorderedlist" data-action="insertunorderedlist"></i>
            <i class="pen-icon icon-inserthorizontalrule" data-action="inserthorizontalrule"></i>
            <i class="pen-icon icon-indent" data-action="indent"></i>
            <i class="pen-icon icon-outdent" data-action="outdent"></i>
            <i class="pen-icon icon-bold" data-action="bold"></i>
            <i class="pen-icon icon-italic" data-action="italic"></i>
            <i class="pen-icon icon-underline" data-action="underline"></i>
            <i class="pen-icon icon-createlink" data-action="createlink"></i>
        </div>
    </div>

    <div data-toggle="pen" data-placeholder="请输入">
        @Html.Raw(Markdig.Markdown.ToHtml(Model.CurrentArticle.Content))
    </div>
</div>

@section Styles{
    <link href="~/js/plugins/pen/pen.css" rel="stylesheet" />
    <link href="~/css/editor.css" rel="stylesheet" />
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/plugins/pen/pen.js"></script>
    <script src="~/js/plugins/pen/pen-markdown.js"></script>
    <script src="~/js/plugins/pen/markdown.js"></script>
    <script src="~/js/editor.js"></script>
}