@model ViewModel.ArticleViewModel
@using Blog.Core.Categorys.Model
@inject Blog.Repository.IRepository<Category> categoryRep
<div id="editormd">
    <textarea style="display:none;">@Model.Content</textarea>
</div>


<div class="modal inmodal" id="modal_edit_more" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">编辑更多</h4>

            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PostDate" />
                <input type="hidden" asp-for="IsPublish" />
                <div class="row">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" placeholder="请输入文章标题">
                </div>
                <div class="row">
                    @{
                        var items = categoryRep.GetAllList().Select(o => new SelectListItem() { Text = o.Name, Value = o.Id.ToString() }).ToList();
                        items.Insert(0, new SelectListItem() { Text = "无", Value = "" });
                    }
                    <label asp-for="Category"></label>
                    <select class="form-control" asp-for="Category.Id" asp-items="items"></select>
                </div>
                <div class="row">
                    <label asp-for="PostImage"></label>
                    <div class="input-group">
                        <input class="form-control" id="modal_edit_post_img_src" asp-for="PostImage" placeholder="请输入封面图片url">
                        <span id="modal_edit_refresh" class="input-group-addon"><i class="fa fa-refresh"></i></span>
                    </div>
                    <img id="modal_edit_post_img" src="@Model.PostImage" style="width:100%" />
                </div>
                <div class="row">
                    <label asp-for="Summary"></label>
                    <textarea asp-for="Summary" class="form-control"></textarea>
                </div>
                <div class="row">
                    <label asp-for="Tags"></label>
                    <div class="taglist">
                        @foreach (var item in Model.Tags)
                        {
                            <span class="label label-primary">@item.Name <i class="fa fa-times-circle"></i></span>
                        }
                    </div>
                    <div style="margin-top:20px;">
                        <input id="tag_input" placeholder="添加标签 按回车添加" class="form-control">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_save">保存</button>
            </div>
        </div>
    </div>
</div>
